section{
    width: 80%;
    align-items: center;
    margin: auto;
    margin-top: 40px;
}

h2{
    font-size: 24px;
    margin-top: 20px;
}

#info_container{
    width: 40%;
    background-color: #18191f;
    border-radius: 10px;
    font-size: 20px;
    align-items: center;
    margin: auto;
    margin-top: 40px;
    padding: 10px;
}

ol{
    list-style-position: inside;
}

li{
    margin-bottom: 10px;
    margin-left: -40px;
}

li a{
    color: #2ec76e;
}
