section {
    color: #2ec76e;
    font-size: 16px;
    width: 90%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    color: white;
    text-align: center;
}

iframe {
    width: 455px;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
}

#instructions {
    text-align: left;
    background-color: #18191f;
    float: left;
    width: 52%;
    padding: 0px 20px 10px 20px;
    margin-top: 20px;
    border-radius: 10px;
}

#tutorial {
    background-color: #18191f;
    width: 40%;
    float: right;
    padding: 0px 20px 5px 20px;
    margin-top: 20px;
    border-radius: 10px;
}