section {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: 575px;
    background-color: #18191f;
    border-radius: 10px;
    font-size: 24px;
}

h3{
    font-size: 32px;
    margin-top: 10px;
    padding-top: 20px;
    margin-bottom: 20px;
}

table, td, tr{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    border-collapse: collapse;
    padding: 10px;
}

table{
    width: 90%;
}

#present_button{
    background-color: #2ec76e;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    outline: none;
    color: white;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
}

#absent_button{
    background-color: #ff0505;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    outline: none;
    color: white;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
}
